<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <link rel="stylesheet" href="{{'/css/style.css'|url}}">
</head>
<body>

    <div class="container">
       
        <header>
            <img width='150' src='/img/eleventy.jpg'>
           
        </header>
         <div class='sidebar'>
 {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
         </div>
            <div class='content'>
        <h1>{{title}}</h1>
        <article>
{{content|safe}}
        </article>
        </div>
        <footer>
 <p> &copy;2022 José Antonio Cano </p>
        </footer>
    </div>
    
</body>
</html>